:root {
  --slate: #434455;
  --white: #fff;
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --dairy: #fcfcfc;
}

/* Base styles */

body {
  font-family: 'Roboto', sans-serif;
  background: var(--white);
  color: var(--slate);
}

/* Reset styles */
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  font-family: inherit;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Logo */

.logo {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header .logo {
  margin-right: 76px;
}
.logo-dark {
  color: var(--navyblue);
}

.logo-white {
  color: var(--cloud);
}

/* Header styles */

.header {
  box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header .container {
  display: flex;
}
.header .nav {
  display: flex;
  align-items: center;
}

.nav-page {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.nav-page.current,
.nav-page:hover,
.nav-page:focus,
.nav-page:active {
  color: var(--ocean);
}

.nav-page.current::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.contact {
  font-style: normal;
  color: var(--font-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-left: auto;
}
.contact-mail {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--ocean);
}
.nav .list,
.contact .list {
  display: flex;
  gap: 40px;
}
/* Main styles */

/*  Hero */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  max-width: 496px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  padding-left: auto;
  padding-right: auto;
}
.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--iris);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}
/* Qualities */
.qualities {
  padding: 120px 0;
  background: var(--white);
}
.qualities-list {
  display: flex;
  gap: 24px;
}

.qualities-list-item {
  flex-basis: calc((100% - 24px * 3) / 4);
}
.qualities-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud);
  margin-bottom: 8px;
}
.qualities-icon {
  align-items: center;
}
.qualities-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.qualities-title-text {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/* Work */
.work {
  background: var(--white);
  padding-bottom: 120px;
}
.work-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 0 72px 0;
}
.work-card {
  display: flex;
  gap: 24px;
}
.work-card-item {
  flex-basis: calc((100% - 24 * 2) / 3);
}
.work-img {
  border: 1px solid var(--cornflower);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* Team */
.team {
  background: var(--cloud);
  padding: 120px 0;
}
.team-card {
  display: flex;
  gap: 24px;
}
.team-card-item {
  flex-basis: calc((100% - 24 * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-box {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-img {
  background: url(<path-to-image>),
    lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}
.team-subtitle {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-social-list {
  display: flex;
}
.team-social-item {
  justify-content: center;
  width: 40px;
  height: 40px;
  flex-basis: calc((100% - 24 * 3) / 4);
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  color: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--ocean);
}

.team-social-icon {
  fill: #f4f4fd;
}
/*Customers */
.customers {
  padding: 120px 0;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-item {
  width: 168px;
  height: 88px;
  flex-basis: calc((100% - 24 * 5) / 6);
}
.customers-item-link {
  display: flex;
  color: #8e8f99;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item-link:hover,
.customers-item-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}
.customers-icon {
  fill: currentColor;
}
.customers-item-link:hover .customers-icon {
  fill: var(--ocean);
}
/* Footer */
.footer {
  background: var(--navyblue);
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-container {
  margin-right: 120px;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-social-conteiner {
  display: block;
  margin: 0;
}
.footer-social-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  justify-content: center;
  flex-basis: calc((100% - 16 * 3) / 4);
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--iris);
  fill: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-form-container {
  margin-left: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-imput {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  color: var(--white, #fff);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5; /* 200% */
  letter-spacing: 0.04em;
}
.footer-form-imput::placeholder {
  color: var(--white, #fff);
}

.footer-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-basis: calc((100% - 16 * 1) / 2);
  align-items: center;
  padding: 0;
  border: none;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--ocean);
}
.footer-form-icon {
}
/* Modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  fill: var(--navyblue);
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--white);
  background-color: var(--ocean);
  border: none;
}
.button-image {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--navyblue, #2e2f42);
  text-align: center;
  width: 360px;
  margin-bottom: 16px;
}
/* Modal form */
input {
  font-family: inherit;
}
textarea {
  font-family: inherit;
}

.modal-form {
}
.modal-form-container {
  margin-bottom: 8px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}

.modal-form-field {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus,
.modal-form-textarea:focus {
  border-color: var(--iris);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--iris);
}
.modal-form-comment {
  margin-bottom: 16px;
}
.modal-form-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-textarea:focus {
  border-color: var(--iris);
}
.modal-form-textarea::placeholder {
  color: var(--lightslate);
}

.modal-form-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-text {
  display: block;
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}

.agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked + label span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}
.agreement-checkbox-icon {
  color: currentColor;
}

.modal-form-link {
  color: var(--iris);
}
.modal-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: var(--iris);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover,
.modal-form-btn:hover {
  background-color: var(--ocean);
}

/* Portfolio page*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter-btn {
  font-family: 'Roboto', sans-serif;
  color: var(--iris);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border-color: 1px solid var(--cornflower);
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  box-shadow: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
  border-color: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-card-item {
  flex-basis: calc((100% - 24 * 2) / 3);
}

.portfolio-card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.wrapper-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: var(--cloud);
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-link:hover .wrapper-text,
.portfolio-card-link:focus .wrapper-text {
  transform: translateY(0%);
}
.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
